:root {
  --cl-blue: #1a1aff;
}

.paginate-header {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
.paginate-header hr {
  margin: 0 30%;
  /* color: var(--cl-blue); */
  height: 2px;
  background-color: var(--cl-blue);
}
.items-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.active-btn {
  background-color: var(--cl-blue);
}
